* { box-sizing: border-box; }
body { margin: 0; }

@font-face {
    font-family: 'garagegothicregular';
    src: url('./font/garage_gothic_regular-webfont.woff2') format('woff2'),
         url('./font/garage_gothic_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* CONTAINER */
.container {
    width: 100%;
    padding: 0 15px;
}
@media screen and (min-width: 768px) {
    .container {
        width: 80%;
        margin: auto;
    }
}

/* GRID */
.row {
    display: flex;
    flex-direction: column;
}
.col {
    flex: 1;
}
@media screen and (min-width: 768px) {
    .row {
        flex-direction: row;
    }
}   