/* FONT */
@font-face {
    font-family: 'garagegothicregular';
    src: url('./font/garage_gothic_regular-webfont.woff2') format('woff2'),
         url('./font/garage_gothic_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* { box-sizing: border-box; font-family: 'garagegothicregular' }
body { margin: 0; }
h1, h2, h3 { margin: 0 0 10px; }
h1 { font-size: 40px; }
h2 { 
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
}
h3 { font-size: 30px; }
h3.title {
    font-size: 40px;
}
p {
    font-size: 22px;
    margin: 0 0 20px;
}
@media screen and (min-width: 768px) {
    p { font-size: 30px; }
}
.button {
    background-color: #E9E84C;
    font-size: 22px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
img { max-width: 100%; }

/* CONTAINER */
.container {
    width: 100%;
    padding: 0 10px;
}
@media screen and (min-width: 1280px) {
    .container {
        width: 90%;
        margin: auto;
    }
}
@media screen and (min-width: 1400px) {
    .container {
        width: 60%;
        margin: auto;
    }
}

/* GRID */
.row {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 1024px) {
    .row {
        flex-direction: row;
    }
} 

/* HEADER */
header {
    text-align: center;
    position: relative;
    z-index: 1;
    min-height: 350px;
}
@media screen and (min-width: 1024px) {
    header {
        min-height: initial;
    }
}
header.header-image {
    background: url('banner-temp.jpg');
    background-size: cover; 
    transition: all .4s ease-in-out;
}
@media screen and (min-width: 1024px) {
    header.header-home {
        min-height: 400px;
        height: 60vh;
    }
}

header ul {
    list-style: none;
    font-size: 30px;
    margin : 0;
    padding: 0;
    justify-content: space-around;
    transform-origin: top;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.nav-visible ul {
    opacity: 1;
}
@media screen and (min-width: 1024px) {
    header ul { opacity: 1; }
}
header ul { flex: 4; align-items: center; }
header ul:nth-child(1) { justify-content: flex-start; }
header ul:nth-child(3) { justify-content: flex-end; }
header ul li {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}

header ul li a {
    color: white;
    text-decoration: none;
    padding: 0 50px;
    white-space: nowrap;
}
header ul li a:hover { text-decoration: underline; }
header .logo {
    flex: 1;
    order: -1;
    width: 200px;
    padding: 20px 0;
}
header .logo img { max-width: 100%; }
header nav { align-items: center; }
@media screen and (min-width: 1024px) {
    header.header-home {
        height: 80vh;
    }
    header .logo {
        order: 0;
        width: initial;
    }
}
@media screen and (min-width: 1400px) {
    header ul {
        font-size: 35px;
    }
}
/* MENU BURGER */
.menuButton {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 75px;
}
@media screen and (min-width: 1024px) {
    .menuButton { display: none; }
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/* BANNER */
.banner {
    position: absolute;
    background-image: url('banner-temp.jpg');
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.banner i {
    display: none;
}
@media screen and (min-width: 1024px) {
    .banner i {
        display: inline;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px 0 10px;
        color: white;
        font-size: 40px;
    }
}

.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

/* SECTIONS */
section {
    flex: 1;
    background-color: white;
    z-index: 1;
    transition: all .4s ease-in-out;
    padding: 40px 0;
}
@media screen and (min-width: 768px) {
    section {
        padding: 50px 0;
    }
}
section:first-of-type {
    margin-top: -170px;
}
section.nav-visible {
    margin-top: 0;
}
@media screen and (min-width: 1024px) {
    section.main {
        margin-top: 0;
    }
}

/* EVENT */
.event {
    display: flex;
    flex-direction: column;
}
.event ul {
    padding-left: 15px;
}
.event ul li p {
    margin-top: 0;
}
.event .event-content {
    margin-top: 25px;
}
@media screen and (min-width: 768px) {
    .event {
        flex-direction: row;
    }
    .event .event-poster {
        padding-right: 30px; 
        flex: 3;
    }
    .event .event-content {
        flex: 5;
        margin: 0;
    }   
} 

/* FOOTER */
footer{
    background-color: #1c1c1c;
    height: 110px;
}

.img_footer{
    width: 11%;
}

.input_footer{
    width: 60%;
    margin-left: 45px;
    height: 35px;
    border: 0;
    padding: 20px;
}

.footer_inner{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    footer {
       
    }
}

/* CONTACT */

#name, #mail{
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}

textarea{
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    height: 100px;
}

.contactPage2{
    
    padding-top: 25px;
}

.contactTxt{
    font-size: 25px;
    margin: 0;
    color:#707070;
}
@media screen and (min-width: 1024px) {
    form {
      p 
    }

    .contactPage1, .contactPage2{
        flex: 1;
        padding: 0 20px;
    }

    .contactPage2{
        border-left: solid 2px;
        padding-top: 20px;
    }

    

    
}