/* FONT */
@font-face {
    font-family: 'garagegothicregular';
    src: url('./font/garage_gothic_regular-webfont.woff2') format('woff2'),
         url('./font/garage_gothic_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* { box-sizing: border-box; font-family: 'garagegothicregular' }
body { margin: 0; }

/* CONTAINER */
.container {
    width: 100%;
    padding: 0 10px;
}
@media screen and (min-width: 1280px) {
    .container {
        width: 90%;
        margin: auto;
    }
}
@media screen and (min-width: 1400px) {
    .container {
        width: 80%;
        margin: auto;
    }
}

/* GRID */
.row {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 1024px) {
    .row {
        flex-direction: row;
    }
} 

/* HEADER */
header {
    text-align: center;
    position: relative;
    z-index: 1;
    min-height: 400px;
    height: 60vh;
}
header.header-image {
    background: url('banner-temp.jpg');
}
header ul {
    list-style: none;
    font-size: 30px;
    margin : 0;
    padding: 0;
    justify-content: space-around;
}
header ul { flex: 4; align-items: center; }
header ul:nth-child(1) { justify-content: flex-start; }
header ul:nth-child(3) { justify-content: flex-end; }
header ul li {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}
header ul li a {
    color: white;
    text-decoration: none;
    padding: 0 50px;
    white-space: nowrap;
}
header ul li a:hover { text-decoration: underline; }
header .logo {
    flex: 1;
    order: -1;
    width: 200px;
    padding: 20px 0;
}
header .logo img { max-width: 100%; }
header nav { align-items: center; }
@media screen and (min-width: 1024px) {
    header {
        height: 80vh;
    }
    header .logo {
        order: 0;
        width: initial;
    }
}
@media screen and (min-width: 1400px) {
    header ul {
        font-size: 35px;
    }
}


/* BANNER */
.banner {
    position: absolute;
    background-image: url('banner-temp.jpg');
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.banner i {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 0 10px;
    color: white;
    font-size: 40px;
<<<<<<< HEAD
}
@media screen and (min-width: 1024px) {
    .banner {
        height: 80vh;
    }
}

.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

section{
    flex: 1;
}

/* FOOTER */

footer{
    background-color: #1c1c1c;
    height: 100px;
    margin-top: 95px;
}

.img_footer{
    width: 11%;
    margin-top: 23px;
    margin-left: 15px;
}

@media screen and (min-width: 1024px) {
    footer {
       
    }
=======
>>>>>>> 5e8a6e11200b17e467d8d9d8c94f76a62b1a9479
}